body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  0;
    background-color: #f5f5f5;
}

/* Container for the forms */

.registration-form{
    width: 45rem;
    margin:1.5rem;
    box-shadow: 0 0 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.login-form{
    width: 45rem;
    margin: 1.5rem;
    box-shadow: 0 0 2rem;
    padding: 2rem;
    border-radius: 1rem;
}
.form-container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Add spacing between form sections */
.form-section {
    margin-bottom: 20px;
}